@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: "Open Sans", serif;
}

.Main {
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    border-radius: 50px;
}

.img {
    /* box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 50px 0px 0px 50px;
    background-blend-mode: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    opacity: 0.5;
}

/* .Main {
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.image {
    position: absolute;
    width: 50%;
    height: 100%;

    background: url(./img/polygon.jpg) center center no-repeat;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px 0px 50px;
    background-blend-mode: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    opacity: 0.5;
}

.getweather-form {
    margin-left: 55%;
    margin-top: 5%;
}

.getweather-input {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #0083AC;
    width: 50%;
    padding-bottom: 4px;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;
}

.getweather-input::-webkit-input-placeholder {
    color: #0083AC;
}
   
.getweather.input::-moz-placeholder {
    color: #0083AC;
}

.getweather-btn {
    border: 2px solid #0083AC;
    border-bottom: 4px solid #0083AC;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f3a469;
    color: #fff;
    outline: none!important;
}

.getweather-btn:hover {
    border-bottom: 2px solid #0083AC;
    position: relative;
    top: 2px;
}
    
.getweather-btn:active {
    border-bottom: 2px solid transparent;
    border-color: transparent;
    position: relative;
    top: 2px;
} */